.footer-distributed{
  position: relative;
  display: flex;
  flex-wrap: wrap;
	background: #373737;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
  justify-content: space-around;
  margin-top: 1rem;
	padding: 3rem 3rem 1rem 3rem;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: auto;
}

/* The company logo */

.footer-left h3 {
  width: calc(100vw - 50rem);
  max-width: 500px;
  min-width: 100%;
}

.footer-left h3 > * {
  width: 100%;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
  text-align: center;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
  position: absolute;
	color:  #fff;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
  text-align: center;
  bottom: 1rem;
  width: calc(100% - 6rem);
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
  font-style: inherit;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	text-align: center;
	line-height: 42px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons .icon {
	display: inline-block;
	height: 10px;
	width: 10px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;

  padding: 10px;
  box-sizing: content-box;
}

.icon.twitter {
  background-image: url("../../assets/icons/twitter.svg");
}
.icon.facebook {
  background-image: url("../../assets/icons/facebook.svg");
}
.icon.whatsapp {
  background-image: url("../../assets/icons/whatsapp.svg");
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
