.forgot_password {
  background-image: url("../../assets/imgs/fondo.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot_password .spacer_form {
  min-height: 350px;
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 2rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  background-color: hwb(0 65% 35% / 0.13);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: aqua;
  text-align: center;
  gap: 0;
  left: 0;
  opacity: 0;
  animation: showForm 0.5s ease-out forwards;
}

.forgot_password .spacer_form h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.forgot_password .spacer_form .content_text {
  display: block;
  text-align: start;
  width: 100%;
  color: white;
}


@media screen and (width <= 768px) {
  .forgot_password .spacer_form {
    width: 300px;
    gap: 1.5rem;
  }
  .forgot_password .spacer_form h1 {
    font-size: 1.4rem;
  }
}