.spacer_login {
  background-image: url("../../assets/imgs/fondo.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer_login .spacer_form {
  position: relative;
  min-height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 2rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  background-color: hwb(0 65% 35% / 0.13);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: aqua;
  text-align: center;
  opacity: 0;
  animation: showForm 0.5s ease-out forwards;
}

.spacer_form.close {
  animation: hideForm 0.35s ease-out forwards !important;
}

.animation_arrow_container {
  width: 2rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.input-group > textarea {
  resize: vertical;
  min-height: 50px;
}

.input-select-group > .select {
  appearance: none;
  background-color: white;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 7px;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.input-select-group > .select > i {
  margin: 0;
  width: 15px;
}

.input-group > input,
.input-group > textarea {
  height: 2.7rem;
  width: 100%;
  border: 0;
  padding: 0.5rem;
  border-radius: 3px;
}

.input-group > input:focus,
.input-group > textarea:focus {
  outline: none;
  border: 1px solid aqua;
}

/* ================= SUBMIT BUTTON ================ */

.inputSubmit-group {
  position: relative;
  display: flex;
  justify-content: center;
}

.inputSubmit-group > input[disabled] {
  background-color: #34d5d559 !important;
  color: #76767696 !important;
  cursor: not-allowed !important;
}

.inputSubmit-group > input[type="submit"] {
  height: initial;
  width: 100%;
  background-color: aqua;
  border-radius: 20px;
  padding: 0.7rem 0;
  border: 0;
  cursor: pointer;
  transition: width 0.3s ease-out;
}

.inputSubmit-group.submitted > input[type="submit"] {
  width: 15px;
  padding: 0.7rem;
  margin: 0 auto;
  box-sizing: content-box;
  cursor: default;
}

.inputSubmit-group.submitted .loader {
  scale: 1;
}

.inputSubmit-group .loader {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 10%;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  scale: 0;
  transition: scale 0.5s ease-out;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ================= LABELS ================ */

span#error {
  color: red;
  font-size: 0.8rem;
}
span#error.hidden {
  display: none;
}

.input-group {
  position: relative;
}
.input-select-group {
  position: relative;
  width: fit-content;
  margin-top: 30px;
}

.input-group > label,
.input-select-group > label {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0.3rem;
  pointer-events: none;
  transition: 0.3s ease-out;
  color: gray;
  transform: translateY(-50%);
}
.input-select-group > .select + label {
  top: -15px;
  color: aqua;
}
.input-select-group > .select > span {
  user-select: none;
  pointer-events: none;
}

.input-select-group > .select .content_dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  background-color: white;
  z-index: 1;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 7px;
}

.input-group > input:focus + label,
.input-group > input:valid + label,
.input-group > textarea:focus + label,
.input-group > textarea:valid + label {
  top: -15px;
  font-size: 0.8rem;
  color: aqua;
}

.input-select-group > .select:focus .content_dropdown {
  display: flex !important;
}
.input-select-group > .select .content_dropdown .option {
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
  color: black;
  text-decoration: none;
  transition: 0.3s ease-out;
}
.input-select-group > .select .content_dropdown .option:hover {
  background-color: #dfdfdf93;
  cursor: pointer;
}

.opciones_login{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes showForm {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hideForm {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(10%);
    opacity: 0;
  }
}
