.productos {
  max-width: 1500px;
  /* Agrega una suave sombra */
  border-radius: 10px;
  /* Agrega bordes redondeados */
  overflow: hidden;
  /* Oculta el contenido que desborde del contenedor */
  text-align: center;
  flex-grow: 1;
}

/* Estilo del contenedor de ítems */
.productos .contenedor-items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  margin-top: 30px;
  transition: transform 0.3s ease;
}

.titulo-contenedor-productos {
  font-size: 2.5rem;
  text-align: center;
}

.categoria-titulo {
  position: absolute;
  top: 200px;
  font-size: 1.7rem;
}

.categoria-item {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  position: relative;
  padding-top: 1.5rem;
  margin-top: 0.5rem;
}
#productos_vertagear {
  padding: 0;
}
#productos_vertagear .categoria-titulo {
  top: 180px;
}

.producto-hero {
  width: 100%;
  height: 175px;
  object-fit: cover;
  margin-bottom: 2.5rem;
}

/* Estilo de los ítems */
.productos .contenedor-items .item {
  min-height: 456px;
  max-width: 220px;
  /* Aumenta ligeramente el ancho máximo */
  border: 1px solid #ddd;
  /* Cambia el color del borde a un gris más claro */
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Agrega transición para efectos */
  background-color: #fff;
  /* Agrega un fondo blanco */
  text-align: center;
  /* Centra el texto */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
}

/* Estilo de imagen dentro de los ítems */
.productos .contenedor-items .item .img-item {
  width: 100%;
  max-height: 200px;
  /* Limita la altura de la imagen */
  object-fit: cover;
  /* Ajusta el tamaño de la imagen para que llene el contenedor */
}

/* Efecto de sombra y escala al pasar el ratón sobre los ítems */
.productos .contenedor-items .item:hover {
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  /* Sombra más pronunciada */
  transform: scale(1.05);
  /* Escala ligeramente cuando se pasa el ratón */
}

/* Estilo del título del ítem */
.productos .contenedor-items .item .titulo-item {
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  /* Cambia el color del texto a un tono más oscuro */
  margin-top: 10px;
  /* Agrega espacio superior */
  font-size: 18px;
  /* Reduce el tamaño del título */
  user-select: none;
}

/* Estilo del precio del ítem */
.productos .contenedor-items .item .precio-item {
  font-weight: bold;
  font-size: 20px;
  /* Aumenta el tamaño del precio */
  color: #000000;
  /* Cambia el color del precio a un tono llamativo */
  margin-top: 5px;
  /* Alinea el precio debajo del título */
}

/* Estilo del botón de ítem */
.productos .contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: #07b37f;
  /* Cambia el color de fondo a un tono llamativo */
  color: #ffffff;
  font-style: inherit;
  padding: 10px 20px;
  /* Aumenta el espaciado del botón */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Efecto de cambio de color y escala al pasar el ratón sobre el botón */
.productos .contenedor-items .item .boton-item:hover {
  background-color: #771b54;
  /* Cambia el color al pasar el ratón */
  transform: scale(1.05);
}

/* seccion carrito */
.carrito {
  border: 1px solid #666;
  width: 35%;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: auto;
  position: sticky !important;
  top: 0;
  transition: 0.3s;
  /* Estilos para ocultar */
  margin-right: -100%;
  opacity: 0;
}

.carrito .header-carrito {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

.carrito .carrito-item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: relative;
  border-bottom: 1px solid #666;
  padding: 20px;
}

.carrito .carrito-item img {
  margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad {
  display: inline-block;
  margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad {
  border: none;
  font-size: 18px;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  padding: 5px;
  text-align: center;
}

.carrito .carrito-item .selector-cantidad i {
  font-size: 18px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #000;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  display: block;
  background: transparent;
  z-index: 20;
}

.carrito .carrito-item .btn-eliminar i {
  pointer-events: none;
}

.carrito-total {
  background-color: #f3f3f3;
  padding: 30px;
}

.carrito-total .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.carrito-total .btn-pagar {
  display: block;
  width: 100%;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.carrito-total .btn-pagar:hover {
  scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
  .contenedor {
    display: block;
  }

  .contenedor-items {
    width: 100% !important;
  }

  .carrito {
    width: 100%;
  }
}

.mar {
  text-align: center;
  vertical-align: auto;
}
.tipo {
  border-color: black;
  border-radius: 25px;
  background-size: auto;
  text-align: initial;
  font-size: 20px;
}

.porta {
  text-align: center;
  vertical-align: top;
}

.wrap {
  background-color: #e6c47b;
  color: #2a2b2c;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px 0px;
  padding: 0%;
  margin: 0%;
  position: relative;
}
.wrap .titulo {
  margin: 30px 0px;
}

/* ============== LISTA DE CATEGORIA ============== */
.category_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.category_list .ct_item-active {
  background: #2d3e50;
}
.category_list .category_item {
  display: block;
  width: 10%;
  min-width: 76.69px;
  padding: 15px 0;
  margin: 20px 0;
  background: #e84c3d;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.category_list .ct_item-active {
  background: #2d3e50;
}
/* ============== FILTROS ============== */
.filters-section {
  min-height: 45rem;
  display: flex;
  max-width: 250px;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: bolder;
  font-size: 32px;
  color: rgb(58, 58, 109);
  font-style: inherit;
  padding: 0 10px;
  gap: 20px;
  text-align: center;
}
.filtro-precio,
.filtro-pago,
.filtro-modalidad {
  border-top: 2px solid black;
  padding: 20px;
}
#tipo-precio {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.opcion-filtro {
  font-size: 15pt;
}
.opcion-filtro input {
  width: 100%;
}
.filtro-pago input,
.filtro-modalidad input {
  /* hiding browser el */
  appearance: none;
  /* Safari support */
  -webkit-appearance: none;
  /* Firefox support */
  -moz-appearance: none;
  /* hiding browser el */
  width: 20px;
  height: 20px;
  outline: 1px solid var(--color);
  margin-right: 10px;
  border: 0.2rem solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.filtro-pago input:hover,
.filtro-modalidad input:hover {
  outline-color: var(--checked-color);
}
.filtro-pago input:checked,
.filtro-modalidad input:checked {
  outline-color: var(--checked-color);
  background-color: var(--checked-color);
  animation: outline-checked;
  animation-duration: 0.1s;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.filtro-pago p,
.filtro-modalidad p {
  cursor: default;
}
.filtro-pago .opcion-pago,
.filtro-modalidad .opcion-modalidad {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#tipo-modalidad,
#tipo-pago {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#tipo-modalidad .opcion-modalidad,
#tipo-pago .opcion-pago {
  margin: 0;
  padding: 10px 0;
}
#tipo-modalidad .boton,
#tipo-pago .boton {
  margin: 0 auto;
  margin-top: 20px;
}

@keyframes outline-checked {
  0% {
    outline-offset: 0;
  }

  100% {
    outline-offset: -0.2rem;
  }
}

.contenedor-padre {
  display: flex;
  gap: 20px;
  padding: 20px 2%;
}

.medio-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
}
.info-item {
  max-height: 100px;
  overflow: hidden;
}

#loader {
  width: 50%;
  height: auto;
  margin: 0 auto;
}
#loader span {
  font-size: 1.9rem;
  font-weight: 400;
}

.boton {
  display: inline-block;
  padding: 8px 20px;
  font-size: 18px;
  background-color: #29a882;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-decoration: none;
}

.boton:hover {
  background-color: #258cd1;
  transform: scale(1.05);
}

@media screen and (max-width: 767px) {
  .filters-section {
    display: none;
  }
  .productos {
    width: 100%;
    padding: 0;
  }
}
