.spacer_registro {
  background-image: url("../../assets/imgs/fondo.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer_registro .spacer_form {
  position: relative;
  min-height: 350px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 2rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  background-color: hwb(0 65% 35% / 0.13);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: aqua;
  text-align: center;
  animation: showForm 0.5s ease-out forwards;
}

.spacer_registro .input-group > input:focus + label,
.spacer_registro .input-group > input.filled + label {
  transform: translateY(-170%);
  font-size: 0.8rem;
  color: aqua;
}

@media screen and (width <= 768px) {
  .spacer_registro .spacer_form {
    width: 300px;
  }
}